<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Trend</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to external CSS file -->
</head>
<body>
    <header>
        <h1>TrendTour</h1>
        <h3>Learn fashion trends based on your preferences and location</h3>
    </header>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
                <a href="#">Options</a>
                <ul class="dropdown-content">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <section>
        <h2>About Fashion Guide</h2>
        <p>Choosing outfits as a college student can prove challenging – especially for new college students and students new to the area where their college is in. Fashion Guide, our web-based application, displays what the fashion trends are in the user's college and near their area. This helps the user with ideas on how to dress. Furthermore, the user can change the color, silhouette, and/or accessories of outfits they want to see at that college and near their area. This web application aims to help college students feel more confident and comfortable.</p>
    </section>
    <footer>
        <p>&copy; 2024 Tour Trend Application. All rights reserved.</p>
    </footer>
</body>
</html>
